{% extends 'base.html' %}
{% load static %}
{% block body %}

<center>
    <div class="container" style="margin-top:100px;" >
        <h3><b>Customer Form</b></h3>
<form action="." method="POST" enctype="multipart/form-data" style="margin-top:10px">
    {% csrf_token %}
    <div class="form-group">
        <input type="text" class="form-control underlined" name="fname" id="id_fname"
            placeholder="First Name " style="width: 300px; height: 35px; box-shadow: 3px 3px 3px 3px #E3E3E3;" maxlength="40" required>
    </div>
    <div class="form-group">
        <input type="text" class="form-control underlined" name="lname" id="id_lname"
            placeholder="Last Name " style="width: 300px; height: 35px;  box-shadow: 3px 3px 3px 3px #E3E3E3;" maxlength="20" required>
    </div>
    <div class="form-group">
        <input type="text" class="form-control underlined" name="lname" id="id_gmail"
            placeholder="Gmail " style="width: 300px; height: 35px;  box-shadow: 3px 3px 3px 3px #E3E3E3;" maxlength="20" required>
    </div>
    <div class="form-group">
        <input type="number" class="form-control underlined" name="phone" id="id_phone"
            placeholder="Mobile Number " style="width: 300px; height: 35px;  box-shadow: 3px 3px 3px 3px #E3E3E3;" maxlength="20" required>
    </div>
    <div class="form-group">
        <textarea class="form-control underlined" name="phone" id="id_address"
            placeholder="Address " style="width: 300px; height: 35px;  box-shadow: 3px 3px 3px 3px #E3E3E3;" maxlength="20" cols="40" rows="10" maxlength="30" required></textarea>
    </div>
    <button type="submit"  style="background-color: green; color:white; width: 100px; height: 35px;">submit</button>
 </form>
    </div>
</center>
{% endblock %}
