<style>
    .table-condensed {
        background: #fff;
        width: 34rem;
    }

    .table-condensed td.active {
        background-color: #7CD420 !important;
        font-weight: bold;
    }
</style>


<div class="col-md-4">
    <div class="m-b-md">
        <h4>
            Filters
        </h4>
        <small>
            Filter your stories basend on diferent options below.
        </small>
    </div>

    <div class="form-group">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="search">
            <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label">Category:</label>
        <div class="input-group">
            <select class="selectpicker" multiple="multiple">
                <option selected value="Branding">Branding</option>
                <option selected value="Website">Website</option>
                <option selected value="Design">Design</option>
                <option selected value="Ilustration">Ilustration</option>
                <option selected value="New">New</option>
                <option value="Important">Important</option>
                <option value="External">External</option>
            </select>
        </div>
    </div>
    <button class="btn btn-success btn-block">Search</button>
</div>